Repository TeliaSoneraNorge/styleguide: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Adding Subscription stories
  component-lib/src/molecules/Subscription/Subscription.stories.tsx
Due: prettier --write

CR changes - removing propTypes from Box
  component-lib/src/atoms/Box/Box.jsx
Due: eslint --fix, prettier --write

Added sizes to subscription price boxes
  component-lib/src/organisms/SubscriptionPriceBoxes/SubscriptionPriceBox.jsx
  component-lib/src/organisms/SubscriptionPriceBoxes/SubscriptionPriceBoxes.pcss
  src/components/examples/organisms/SubscriptionPriceBoxes/01-default.js
Due: eslint --fix, prettier --write

Added sizes to subscription price boxes (#484)
  component-lib/src/organisms/SubscriptionPriceBoxes/SubscriptionPriceBox.jsx
  component-lib/src/organisms/SubscriptionPriceBoxes/SubscriptionPriceBoxes.pcss
  src/components/examples/organisms/SubscriptionPriceBoxes/01-default.js
Due: eslint --fix, prettier --write

Add ISC LICENSE file
  component-lib/LICENSE
Due: none

Add ISC LICENSE file to component-lib (#485)
  component-lib/LICENSE
Due: none

fix/move-license-to-root
  LICENSE
Due: none

fix/move-license-to-root (#486)
  LICENSE
Due: none

:airplane: Updating styleguide version type: patch
  component-lib/package-lock.json
  component-lib/package.json
  package-lock.json
  package.json
Due: prettier --write

Feature/box and subscription changes (#481)
  component-lib/.storybook/addons.js
  component-lib/.storybook/config.ts
  component-lib/assets/allicons/AllIcons.cjs.js
  component-lib/assets/allicons/AllIcons.js
  component-lib/assets/allicons/AllIcons.jsx.generated
  component-lib/assets/allicons/allicons.css
  component-lib/assets/allicons/allicons.svg
  component-lib/assets/icons/ico_group.svg
  component-lib/package.json
  component-lib/src/atoms/Box/Box.jsx
  component-lib/src/atoms/Box/StatefulBox.jsx
  component-lib/src/atoms/Box/index.js
  component-lib/src/index.js
  component-lib/src/molecules/PersonBox/PersonBox.jsx
  component-lib/src/molecules/Subscription/Subscription.jsx
  component-lib/src/molecules/Subscription/Subscription.pcss
  component-lib/src/molecules/Subscription/Subscription.stories.tsx
  src/components/examples/atoms/Box/DefaultCollapsed.js
  src/components/examples/atoms/Box/DefaultExpanded.js
  src/components/examples/atoms/Box/DefaultNotExpandable.js
  src/components/examples/atoms/Box/MediumCollapsed.js
  src/components/examples/atoms/Box/MediumExpanded.js
  src/components/examples/atoms/Box/PurpleCollapsed.js
  src/components/examples/atoms/Box/PurpleExpanded.js
  src/components/examples/atoms/Box/SmallCollapsed.js
  src/components/examples/atoms/Box/SmallExpanded.js
  src/components/examples/molecules/BoxGrid/WithStatefulBoxes.js
  src/components/examples/molecules/Subscription/02-Small.js
  src/components/examples/molecules/Subscription/03-SmallMBWithFeatureOnExpanded.js
  src/components/examples/molecules/Subscription/04-ShowingFeaturesAndSpeechBubble.js
  src/components/examples/molecules/Subscription/05-FullyExpandedAndNoSpeechBubble.js
  src/components/examples/molecules/Subscription/06-FullyExpandedAndSpeechBubble.js
  src/components/examples/molecules/Subscription/07-B2BCollapsed.js
  src/components/examples/molecules/Subscription/08-B2BCollapsedShowingFeaturesAndSpeechBubble.js
  src/components/examples/molecules/Subscription/11-BroadbandExpanded.js
  src/components/examples/molecules/Subscription/12-StatefullScrollToOnOpen.js
  src/components/examples/molecules/Subscription/13-ShowingTwoFeatures.js
  src/components/pages/SubscriptionSamplePage.jsx
Due: eslint --fix, prettier --write

Update VERSIONS.md
  VERSIONS.md
Due: prettier --write

Build and deploy storybook with web site (#483)
  ci/tasks/build-website/task.yml
Due: prettier --write

Added alarm-off
  component-lib/assets/business-allicons/business-allicons.css
  component-lib/assets/business-allicons/business-allicons.svg
  component-lib/assets/business-icons/alarm-off.svg
  component-lib/src/business/Icon/AllBusinessIcons.tsx
  component-lib/src/business/Icon/Icon.stories.tsx
Due: prettier --write

Upgrade @telia/svg-join
  component-lib/package-lock.json
  component-lib/package.json
Due: prettier --write

fix/subscription-speechbubble-font-to-regular
  component-lib/src/atoms/Box/Box.pcss
Due: prettier --write

fix/subscription-speechbubble-font-to-regular (#488)
  component-lib/src/atoms/Box/Box.pcss
Due: prettier --write

Updated generator script to create IconDefinition, availableIcons
  component-lib/generate-AllBusinessIcons-component.js
  component-lib/src/business/Icon/AllBusinessIcons.tsx.template
Due: eslint --fix, prettier --write

Regenerate icon files
  component-lib/src/business/Icon/AllBusinessIcons.tsx
  component-lib/src/business/Icon/IconDefinition.ts
  component-lib/src/business/Icon/availableIcons.ts
Due: prettier --write

Use generated icon list in Storybook
  component-lib/src/business/Icon/Icon.stories.tsx
Due: prettier --write

Add currentColor to stroke
  component-lib/src/business/Icon/Icon.pcss
Due: prettier --write

Storybook: Added business icon contribution guide, changed default icon
  component-lib/src/business/Icon/Icon.stories.tsx
  component-lib/stories/business/Contributing.tsx
  component-lib/stories/index.stories.tsx
Due: prettier --write

Add optional footer to accordion
  component-lib/src/molecules/Accordion/Accordion.jsx
Due: eslint --fix, prettier --write

Add optional footer to accordion (#489)
  component-lib/src/molecules/Accordion/Accordion.jsx
Due: eslint --fix, prettier --write

Added missing icons
  component-lib/assets/business-allicons/business-allicons.css
  component-lib/assets/business-allicons/business-allicons.svg
  component-lib/assets/business-icons/business.svg
  component-lib/assets/business-icons/company.svg
  component-lib/assets/business-icons/contact.svg
  component-lib/assets/business-icons/entertainment.svg
  component-lib/assets/business-icons/fraud.svg
  component-lib/assets/business-icons/group.svg
  component-lib/assets/business-icons/insurance.svg
  component-lib/assets/business-icons/kontantkort.svg
  component-lib/assets/business-icons/lightbulb.svg
  component-lib/assets/business-icons/mms.svg
  component-lib/assets/business-icons/police.svg
  component-lib/assets/business-icons/security.svg
  component-lib/assets/business-icons/stop.svg
  component-lib/assets/business-icons/store.svg
  component-lib/assets/business-icons/svitsj.svg
  component-lib/assets/business-icons/user-admin.svg
  component-lib/assets/business-icons/voicemail.svg
  component-lib/assets/business-icons/weather.svg
  component-lib/src/business/Icon/AllBusinessIcons.tsx
  component-lib/src/business/Icon/IconDefinition.ts
  component-lib/src/business/Icon/availableIcons.ts
Due: prettier --write

Replacing pulse icon
  component-lib/assets/business-icons/dropHereNewIcons/pulse.svg
Due: prettier --write

Replaced pulse icon
  component-lib/assets/business-allicons/business-allicons.css
  component-lib/assets/business-allicons/business-allicons.svg
  component-lib/assets/business-icons/dropHereNewIcons/pulse.svg
  component-lib/assets/business-icons/pulse.svg
  component-lib/src/business/Icon/AllBusinessIcons.tsx
Due: prettier --write

Remove placeholder icon
  component-lib/assets/business-allicons/business-allicons.css
  component-lib/assets/business-allicons/business-allicons.svg
  component-lib/assets/business-icons/placeholder.svg
  component-lib/src/business/Icon/AllBusinessIcons.tsx
  component-lib/src/business/Icon/IconDefinition.ts
  component-lib/src/business/Icon/availableIcons.ts
Due: prettier --write

Added missing icons in business area, added business icon contribution guide (#490)
  component-lib/assets/business-allicons/business-allicons.css
  component-lib/assets/business-allicons/business-allicons.svg
  component-lib/assets/business-icons/business.svg
  component-lib/assets/business-icons/company.svg
  component-lib/assets/business-icons/contact.svg
  component-lib/assets/business-icons/entertainment.svg
  component-lib/assets/business-icons/fraud.svg
  component-lib/assets/business-icons/group.svg
  component-lib/assets/business-icons/insurance.svg
  component-lib/assets/business-icons/kontantkort.svg
  component-lib/assets/business-icons/lightbulb.svg
  component-lib/assets/business-icons/mms.svg
  component-lib/assets/business-icons/placeholder.svg
  component-lib/assets/business-icons/police.svg
  component-lib/assets/business-icons/pulse.svg
  component-lib/assets/business-icons/security.svg
  component-lib/assets/business-icons/stop.svg
  component-lib/assets/business-icons/store.svg
  component-lib/assets/business-icons/svitsj.svg
  component-lib/assets/business-icons/user-admin.svg
  component-lib/assets/business-icons/voicemail.svg
  component-lib/assets/business-icons/weather.svg
  component-lib/src/business/Icon/AllBusinessIcons.tsx
  component-lib/src/business/Icon/Icon.stories.tsx
  component-lib/src/business/Icon/IconDefinition.ts
  component-lib/src/business/Icon/availableIcons.ts
  component-lib/stories/business/Contributing.tsx
  component-lib/stories/index.stories.tsx
Due: prettier --write

Fixed typo in propType definition in SubscriptionPriceBox
  component-lib/src/organisms/SubscriptionPriceBoxes/SubscriptionPriceBox.jsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.*
