Repository TeliaSoneraNorge/styleguide: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --fix", "git add"],
  "*.*": ["prettier --write", "git add"]
}

Fixed focus trap shift tab navigation
  component-lib/src/atoms/FocusTrap/FocusTrap.jsx
Due: eslint --fix, prettier --write

Updated versions file
  VERSIONS.md
  component-lib/src/molecules/Menu/Menu.jsx
Due: eslint --fix, prettier --write

support for esc key
  component-lib/src/molecules/Menu/MobileMenu.jsx
Due: eslint --fix, prettier --write

Add focus on menu open and set back on close
  component-lib/src/molecules/Menu/Menu.jsx
Due: eslint --fix, prettier --write

Focus trap mobile menu (#475)
  VERSIONS.md
  component-lib/src/atoms/FocusTrap/FocusTrap.jsx
  component-lib/src/molecules/Menu/FocusTrap.jsx
  component-lib/src/molecules/Menu/Menu.jsx
  component-lib/src/molecules/Menu/MenuSearch.jsx
  component-lib/src/molecules/Menu/MobileMenu.jsx
  component-lib/src/molecules/ModalDialog/FocusTrap.jsx
  component-lib/src/molecules/ModalDialog/ModalDialog.jsx
Due: eslint --fix, prettier --write

:airplane: Updating styleguide version type: patch
  component-lib/package-lock.json
  component-lib/package.json
  package-lock.json
  package.json
Due: prettier --write

Icon stories: Run prettier, refactored icon into a map to fix select() bug
  component-lib/src/business/Icon/Icon.stories.tsx
Due: prettier --write

Updated Alert component
  component-lib/src/molecules/Alert/Alert.jsx
  src/components/examples/molecules/Alert/WithScrollTo.js
Due: eslint --fix, prettier --write

Updated Accordion and AccordionList
  component-lib/src/molecules/Accordion/Accordion.jsx
  component-lib/src/molecules/AccordionList/AccordionList.jsx
  component-lib/src/molecules/AccordionList/AccordionList.pcss
  component-lib/src/molecules/AccordionList/StatefulAccordionList.jsx
  src/components/examples/molecules/AccordionList/ListOfStatefulAccordionsNoBorder.js
Due: eslint --fix, prettier --write

Added className prop
  component-lib/src/molecules/AccordionList/StatefulAccordionList.jsx
Due: eslint --fix, prettier --write

Added onlyLogo option to Menu
  component-lib/src/molecules/Menu/Menu.jsx
  component-lib/src/molecules/Menu/MenuContent.jsx
  component-lib/src/molecules/Menu/MenuContent.pcss
  src/components/examples/molecules/Menu/OnlyLogo.js
Due: eslint --fix, prettier --write

Remove !important
  component-lib/src/molecules/AccordionList/AccordionList.pcss
Due: prettier --write

Feature/sync with webshop part 1 (#476)
  component-lib/src/molecules/Accordion/Accordion.jsx
  component-lib/src/molecules/AccordionList/AccordionList.jsx
  component-lib/src/molecules/AccordionList/AccordionList.pcss
  component-lib/src/molecules/AccordionList/StatefulAccordionList.jsx
  component-lib/src/molecules/Alert/Alert.jsx
  component-lib/src/molecules/Menu/Menu.jsx
  component-lib/src/molecules/Menu/MenuContent.jsx
  component-lib/src/molecules/Menu/MenuContent.pcss
  src/components/examples/molecules/AccordionList/ListOfStatefulAccordionsNoBorder.js
  src/components/examples/molecules/Alert/WithScrollTo.js
  src/components/examples/molecules/Menu/OnlyLogo.js
Due: eslint --fix, prettier --write

Updated VERSIONS.md
  VERSIONS.md
Due: prettier --write

Run prettier on all .ts,.tsx files
  component-lib/.storybook/config.ts
  component-lib/.storybook/teliaTheme.ts
  component-lib/src/atoms/Button/Button.d.ts
  component-lib/src/atoms/Button/Button.stories.tsx
  component-lib/src/atoms/Button/index.ts
  component-lib/src/atoms/Container/Container.tsx
  component-lib/src/atoms/Container/index.ts
  component-lib/src/business/Toggle/Toggle.stories.tsx
  component-lib/src/business/Toggle/Toggle.tsx
  component-lib/src/business/Toggle/index.ts
  component-lib/src/index.d.ts
  component-lib/stories/colors.ts
  component-lib/stories/home/ColorPalette.tsx
  component-lib/stories/home/HomePage.tsx
  component-lib/stories/home/Typography.tsx
  component-lib/stories/index.stories.tsx
  component-lib/stories/lib/CodeSnippet.tsx
  component-lib/stories/lib/Color.tsx
Due: prettier --write

Add eslint disable rule to copy-files.js to avoid unused vars error
  component-lib/scripts/copy-files.js
Due: eslint --fix, prettier --write

Run prettier on component-lib scripts, config, utils
  component-lib/.storybook/webpack.config.js
  component-lib/assets/allicons/AllIcons.jsx.Template
  component-lib/babel.config.js
  component-lib/generate-AllIcons-component.js
  component-lib/postcss.config.js
  component-lib/scripts/add-icons.js
  component-lib/scripts/copy-type-files.js
  component-lib/src/constants.js
  component-lib/src/utils.js
Due: eslint --fix, prettier --write

Run prettier on scripts, config, utils
  postcss.config.js
  scripts/generate-static-data.js
  scripts/generate-zip-file.js
  server.js
  src/component-categories.js
  src/index.js
  src/utils/browserUtil.js
  src/utils/componentUtil.js
  src/utils/historyUtil.js
  src/utils/staticDataUtil.js
Due: eslint --fix, prettier --write

Fixed clumsily left merge markers
  component-lib/src/atoms/Button/Button.d.ts
  component-lib/src/index.d.ts
Due: prettier --write

Run prettier on Icon files
  component-lib/generate-AllBusinessIcons-component.js
  component-lib/src/business/Icon/Icon.tsx
  component-lib/src/business/Icon/IconDefinition.ts
  component-lib/src/business/Icon/index.ts
Due: eslint --fix, prettier --write

Changes to Box and Subscription * Separated Box into stateless and stateful * Added scrollToOnOpen, onSelect and onClose to Subscription
  component-lib/src/atoms/Box/Box.jsx
  component-lib/src/atoms/Box/StatefulBox.jsx
  component-lib/src/atoms/Box/index.js
  component-lib/src/index.js
  component-lib/src/molecules/PersonBox/PersonBox.jsx
  component-lib/src/molecules/Subscription/Subscription.jsx
  src/components/examples/atoms/Box/DefaultCollapsed.js
  src/components/examples/atoms/Box/DefaultExpanded.js
  src/components/examples/atoms/Box/DefaultNotExpandable.js
  src/components/examples/atoms/Box/MediumCollapsed.js
  src/components/examples/atoms/Box/MediumExpanded.js
  src/components/examples/atoms/Box/PurpleCollapsed.js
  src/components/examples/atoms/Box/PurpleExpanded.js
  src/components/examples/atoms/Box/SmallCollapsed.js
  src/components/examples/atoms/Box/SmallExpanded.js
  src/components/examples/molecules/BoxGrid/WithStatefulBoxes.js
  src/components/examples/molecules/Subscription/02-Small.js
  src/components/examples/molecules/Subscription/03-SmallMBWithFeatureOnExpanded.js
  src/components/examples/molecules/Subscription/04-ShowingFeaturesAndSpeechBubble.js
  src/components/examples/molecules/Subscription/05-FullyExpandedAndNoSpeechBubble.js
  src/components/examples/molecules/Subscription/06-FullyExpandedAndSpeechBubble.js
  src/components/examples/molecules/Subscription/07-B2BCollapsed.js
  src/components/examples/molecules/Subscription/08-B2BCollapsedShowingFeaturesAndSpeechBubble.js
  src/components/examples/molecules/Subscription/09-B2BExpandedNoSpeechBubble.js
  src/components/examples/molecules/Subscription/11-BroadbandExpanded.js
  src/components/examples/molecules/Subscription/12-StatefullScrollToOnOpen.js
  src/components/pages/SubscriptionSamplePage.jsx
Due: eslint --fix, prettier --write

Added script to add and optimise business icons
  component-lib/assets/business-icons/dropHereNewIcons/.gitkeep
  component-lib/package.json
  component-lib/scripts/add-business-icons.js
Due: eslint --fix, prettier --write

Added new ico_group icon
  component-lib/assets/allicons/AllIcons.cjs.js
  component-lib/assets/allicons/AllIcons.js
  component-lib/assets/allicons/AllIcons.jsx.generated
  component-lib/assets/allicons/allicons.css
  component-lib/assets/allicons/allicons.svg
  component-lib/assets/icons/ico_group.svg
Due: eslint --fix, prettier --write

Subscription changes
  component-lib/src/molecules/Subscription/Subscription.jsx
  component-lib/src/molecules/Subscription/Subscription.pcss
  src/components/examples/molecules/Subscription/13-ShowingTwoFeatures.js
  src/components/pages/SubscriptionSamplePage.jsx
Due: eslint --fix, prettier --write

Removed LICENSE file (was a copy of an old README)
  LICENSE
Due: none

Remove obsolete Heroku build/deploy scripts
  package.json
Due: prettier --write

Update styleguide URL in component-lib readme
  component-lib/README.md
Due: prettier --write

Build and deploy storybook with web site
  ci/tasks/build-website/task.yml
Due: prettier --write

Added SubscriptionPriceBoxes
  VERSIONS.md
  component-lib/package-lock.json
  component-lib/src/index.js
  component-lib/src/organisms/SubscriptionPriceBoxes/SubscriptionPriceBox.jsx
  component-lib/src/organisms/SubscriptionPriceBoxes/SubscriptionPriceBoxes.jsx
  component-lib/src/organisms/SubscriptionPriceBoxes/SubscriptionPriceBoxes.pcss
  component-lib/src/organisms/SubscriptionPriceBoxes/index.js
  package-lock.json
  src/components/examples/organisms/SubscriptionPriceBoxes/01-default.js
  src/utils/componentUtil.js
Due: eslint --fix, prettier --write

Added SubscriptionPriceBoxes (#480)
  VERSIONS.md
  component-lib/package-lock.json
  component-lib/src/index.js
  component-lib/src/organisms/SubscriptionPriceBoxes/SubscriptionPriceBox.jsx
  component-lib/src/organisms/SubscriptionPriceBoxes/SubscriptionPriceBoxes.jsx
  component-lib/src/organisms/SubscriptionPriceBoxes/SubscriptionPriceBoxes.pcss
  component-lib/src/organisms/SubscriptionPriceBoxes/index.js
  package-lock.json
  src/components/examples/organisms/SubscriptionPriceBoxes/01-default.js
  src/utils/componentUtil.js
Due: eslint --fix, prettier --write

Remove Heroku references and obsolete LICENSE file (#482)
  LICENSE
  component-lib/README.md
  package.json
Due: prettier --write

Adding jsx and knobs to Storybook
  component-lib/.storybook/addons.js
  component-lib/.storybook/config.ts
  component-lib/package.json
Due: eslint --fix, prettier --write
